NODE_ENV=development
PORT=3000
DATABASE=mongodb+srv://username:<PASSWORD>@cluster0.eiflsig.mongodb.net/?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://localhost:12345/natours
DATABASE_PASSWORD=kO39i5L4d5e4kIdP

JWT_SECRET=recommended_for_at_least_32_characters_long
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=1234
EMAIL_USERNAME=r16f4jh7dk8d9f
EMAIL_PASSWORD=8g05ld71b3ng6z
EMAIL_FROM=auto@natours.io

SENDGRID_EMAIL_FROM=admin@natours.com
SENDGRID_USERNAME=apikey
SENDGRID_PASSWORD=OE.S_58OdIdfTWgvAwAcGyyUHdd.0gJew9Le_ld3Lse_ldiIS0LdlaOeq2lXAValw

STRIPE_SECRET_KEY=sk_test_ljdf9iSDVB35caAGEhrC4Q5777ScvSFV
STRIPE_WEBHOOK_SECRET=keod_idvj204nep0vn5nso3odo1fpkgrn2m5wg5e8x7sllefyegr6f